<!-- Header----------------------------------------------------------------------->
@*    <div class="header">
        <div class="header-left">
            <a href="~/Index" class="logo">
             <span> Project</span>
            </a>
        </div>
        <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
        <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
  </div>*@
<!-------------------------------------------------------------------------------->
