@page
@model SipheleleProducts.Web.Pages.IndexModel
<br />
<br />
<br />
<div class="container-fluid">
<!-- Content Row -->
    <br />
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-12 col-md-6 mb-4">
        <div class="card border-left-default shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                        <h1 style="color:cornflowerblue;">Welcome To Hulamin WareHouse Products</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
</div>