@page
@model SipheleleProducts.Web.Pages.Categories.ConfirmationDeleteOfCategoriesModel
@{
}
<div class="container-fluid" style="align-content:center;">
    <div class="container-fluid">
        <br />
        <div class="row">
            <div class="col-xl-12 col-md-6 mb-4">
                <div class="card border-left-default shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <h1 style="color:cornflowerblue"> Delete Category</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form method="post">
            <div class="row">
                <div class="col-xl-12 col-md-6 mb-4">
                    <div class="card border-left-default shadow h-100 py-2">
                        <div class="card-body">
                            <h5 style="color:red;">Are you sure you want to remove this Item?</h5>
                            <div class="col-sm-8 col-md-9 col-lg-9">
                                <label><strong>Picture:</strong><br />   <img src="@Model.removeCategoryViewModel.ImagePath" width="200" height="200"></label><br />
                                <label><strong>Category Name:</strong><br />  @Model.removeCategoryViewModel.CategoryName</label><br />
                                <label><strong>Description:</strong>  <br />  @Model.removeCategoryViewModel.Description</label>
                            </div>
                            <hr />
                            <button type="submit" class="btn btn-danger btn-lg">YES</button>


                            <a href="/Categories/GetAllCategories" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>