@page
@model SipheleleProducts.Web.Pages.Categories.GetAllCategoriesModel
@{
}
<!-- Begin Page Content -->
<div class="container-fluid">
    <br />

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">


            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h6 class="m-0 font-weight-bold text-primary">List Of Categoty</h6>
                <a href="/Categories/addCategory" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fa fa-plus fa-sm text-white-50"></i> Add Categoty
                </a>
            </div>



        </div>
        <div class="card-body">



            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                    <thead>
                        <tr>
                            <th>Picture</th>
                            <th>Category Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.getListOfAllCatagoriesViewModel.Count > 0)
                        {
                            @foreach (var item in Model.getListOfAllCatagoriesViewModel)
                            {
                                <tr>
                                    <td>@item.Picture</td>
                                    <td>@item.CategoryName</td>
                                    <td>@item.Description</td>
                                  
                                    <td>
                                        <a href="/Categories/GetCategorieDetailsById?CategoryId=@item.CategoryId" class="btn btn-success btn-circle btn-sm" data-toggle="tooltip" data-original-title="Share">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a href="/Categories/UpdateCategory?CategoryId=@item.CategoryId" class="btn btn-primary btn-circle btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="/Categories/ConfirmationDeleteOfCategories?CategoryId=@item.CategoryId" class="btn btn-danger btn-circle btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>

                </table>
            </div>


        </div>
    </div>

</div>
<!-- /.container-fluid -->
